body{
    margin: 0;
}

.background{
    width: 100%;
    height: 100%;
    background-color: skyblue;
}

.back{
    width: 100%;
    height: 100%;
    background-color: black;
}

.snow{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    box-shadow: inset 0px 0px 5px 5px cyan;
}

.fire{
    position: absolute;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: inset 0px 0px 5px 5px orangered;
}

#pic{
    position: absolute;
    height: 30%;
    bottom: 0px;
    right: 0px;
}

#btn{
    position: absolute;
    top: 0px;
    left: 1%;
    color: white;
    width: 30%;
    height: 20%;
    font-size: 100px;
    background-color: black;

}